//src/styles/_breakpoints.scss
//Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-maxDesktop: 1440px;

//Mixins para Media Queries
@mixin tablet {
  @media (min-width: #{$bp-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}

@mixin maxDesktop {
  @media (min-width: #{$bp-maxDesktop}) {
    @content;
  }
}
