// ==========================================
// Colores Oficiales (Estrictos)
// ==========================================
$color-white: #ffffff;
$color-black: #000000;
$color-green-light: #a8f48f;
$color-green-dark: #264125;

// ==========================================
// Tipografías
// ==========================================
$font-primary: 'Roc Grotesk', sans-serif;
$font-secondary: 'Roc Grotesk Condensed', sans-serif;
$font-display: 'Amertha', serif;
$font-compressed: 'Helvetica LT Std Extra Compressed', sans-serif;
